<!DOCTYPE html>
<html>
<head>
    <title>Chatbot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    
</head>
<body>

<div class="chat-container">
    <h2>Virtual Chatbot</h2>

    <div id="chat-box"></div>

    <div class="input-area">
        <input type="text" id="user-input" placeholder="Type a message..." />
        <button onclick="sendMessage()">Send</button>
    </div>
</div>

<script src="/static/script.js"></script>
</body>
</html>
